<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Application.FeedAndFind"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Feed and Find"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedAndFind"
        tools:targetApi="31">
        <activity
            android:name=".Features.Finder.PetTracker_Data_Display"
            android:exported="true" />
        <activity
            android:name=".Features.Pets.PetsAddQR"
            android:exported="false" />
        <activity
            android:name=".Features.Pets.PetsAdd"
            android:exported="false" />
        <activity
            android:name=".Features.Pets.PetsEdit"
            android:exported="false" />
        <activity
            android:name=".Features.Pets.PetsInfo"
            android:exported="false" />
        <activity
            android:name=".Features.Reports"
            android:exported="false" />
        <activity
            android:name=".Features.Feeder.FeederDietSetter"
            android:exported="false" />
        <activity
            android:name=".Features.Feeder.FeederLogs"
            android:exported="false" />
        <activity
            android:name=".Features.Feeder.FeederGeofenceSetting"
            android:exported="false" />
        <activity
            android:name=".Features.Feeder.FeederConfiguration"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapAPIKey" />

        <activity
            android:name=".Features.Dashboard"
            android:exported="true" />
        <activity
            android:name=".LoadingScreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>